h1 {color: rgb(21, 73, 116);
font-size: 30px;
margin:0px;
text-align: center;}

.ob{color: white;
    background-color: rgb(206, 127, 127)}

h2{background-color: #f3f3f3;}

table {color:black; background-color: rgb(210, 209, 228); text-align: center;}

.avater{border-radius: 50%}